@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kaushan+Script&display=swap');
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #F7F7F7;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  }
  
  #blog-texto {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
 /* Estilos del banner */
.banner {
    width: 90vw; /* Ocupa el 90% del ancho de la pantalla */
    height: 50vh; /* Ocupa el 50% de la altura de la pantalla */
    border-radius: 30px;
    margin: 5%;
    overflow: hidden; /* Asegura que no se vean partes de la imagen fuera del contenedor */
    position: relative; /* Necesario para posicionar la imagen de forma absoluta */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 /* Estilos de la imagen dentro del banner */
.banner img {
    width: 100%; /* La imagen ocupa el 100% del ancho */
    height: 100%; /* La imagen ocupa el 100% de la altura */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsión */
    position: absolute; /* Esto asegura que la imagen esté centrada dentro del contenedor */
    top: 50%; /* Desplaza la imagen 50% desde la parte superior */
    left: 50%; /* Desplaza la imagen 50% desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra la imagen */
  }

  .botones-select {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;

}

.boton-select1{
    background-color: #40744d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3PX;
    cursor: pointer;
  }
  .boton-select2{
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: px;
    cursor: pointer;
  }
  


  .boton-select:hover{
    background-color: #73a07e;
    transform: scale(1.05);
  }

 
  .new-post-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 10px rgba(41, 97, 8, 0.603); /* Sombra sutil */
    border-radius: 30px; 

  }
  
  .new-post-container h2 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #3a7448;
    padding: 2¡10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .new-post-container h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #89c76c;
    text-align: center;
    font-family: "Edu AU VIC WA NT Pre", cursive;
  }

  .new-post-container h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #89c76c;
    text-align: center;
    font-family: "Edu AU VIC WA NT Pre", cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
  
  form input,
  form textarea,
  form button {
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 15px;
    border: 1px solid #89c76c;
    border-radius: 20px;
    background-color: #dae5dd;
  }
  
  form input:focus,
  form textarea:focus {
    border-color: #0d2404;
    box-shadow: 0 0 3px rgba(192, 250, 105, 0.5);
  }
  
  form textarea {
    resize: none;
    min-height: 100px;
  }
  
  form button {
    background-color:#3a7448;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #0d2404;
  }
  
  .posts-container {
    margin-top: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .post h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  
  }
  
  .post p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  .post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .action1 {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #ec2323;
    border-radius: 50%;
    cursor: pointer;
  }
  .action2 {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #ffec45;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .action:hover {
    background-color: #007bff;
  }