/* Estilos generales de la sección */
.historias-viajeros {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.historias-viajeros h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.historias-viajeros p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
}

/* Estilos para las cards del carrusel */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 15px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}

.card-content h3 {
    font-size: 1.25rem;
    color: #333;
    margin: 0.5rem 0;
}

.card-content p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
}



/* Responsividad */
@media (max-width: 1024px) {
    .historias-viajeros {
        padding: 1.5rem;
    }

    .card-content h3 {
        font-size: 1.1rem;
    }

    .card-content p {
        font-size: 0.85rem;
    }
}

@media (max-width: 768px) {
    .historias-viajeros h2 {
        font-size: 1.5rem;
    }

    .card-content h3 {
        font-size: 1rem;
    }

    .card-content p {
        font-size: 0.8rem;
    }
}

